.profile__column{
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
}

@media screen and (max-width: 934px){
  .profile__column {
    margin-bottom: 36px;

  }
}

@media screen and (max-width: 635px){
  .profile__column {
    flex-direction: column;
    justify-content: center;


  }
}


