.profile__subtitle{
  width: auto;
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
  transition: 0.5s;

}

@media screen and (max-width: 635px){
  .profile__subtitle {
    width: auto;
    height: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 7px;

  }
}
